.button-route {
    font-size: 15px;
    width: 100%;
    border: none;
    margin-block-start: 5px;
    cursor: pointer;
}
.button-route:hover {
    opacity: .8;
}
.routes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.route {
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}
.logo {
    vertical-align: bottom;
    height: 15px;
}