.button-route {
    font-size: 15px;
    width: 100%;
    border: none;
    cursor: pointer;
}
.button-route:hover {
    opacity: .8;
}
.routes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.route {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 0px;
    padding-inline: 3px;
}
.logo {
    padding-inline-end: 3px;
    height: 23px;
}
.stop {
    margin-block-start: 5px;
    display: grid;
}
.button-target {
    cursor: pointer;
    border: none;
    background-color: #f8f4ec;
}
.button-target:hover {
    opacity: .5;
}